recursive-include qcelemental *.py *.json *.md dummy
recursive-exclude qcelemental/checkup_data *.py *.md

include setup.py
include README.md
include LICENSE
include MANIFEST.in

include versioneer.py
include qcelemental/_version.py
